* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-size: 16px;

  /* Primary */
  --gradient: linear-gradient(135deg, rgba(248, 191, 191, 1) 0%, rgba(238, 139, 139, 1) 100%);
  --gradient-light: linear-gradient(-135deg, rgba(255, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);

  --dark-pink: #ce9898;
  --pink: #ee8b8b;

  --error: #f96464;

  /* Neutral */
  --black: #423a3a;

  /* Typography */
  --h1: 4rem;
  --h1-line-height: 71px;
  --h1-letter-spacing: 17.3px;

  --body: 1rem;
  --body-line-height: 28px;

  --small: 0.813rem;
  --small-line-height: 28px;
}

main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* background: var(--gradient-light); */
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  font-weight: 600;
}

.body-text {
  font-size: var(--body);
  line-height: var(--body-line-height);
}

.small-text {
  font-size: var(--small);
  line-height: var(--small-line-height);
}

@media (max-width: 375px) {
  :root {
    --h1: 2.5rem;
    --h1-line-height: 42px;
    --h1-letter-spacing: 10.8px;

    --body: 0.875rem;
    --body-line-height: 22px;
  }
}
